// 1rem = 16px

// topbar
.top-bar-cobiro {
  position: fixed;
  height: 64px;
  width: 1440px;
  border-bottom: 1px solid #EAEEF4;
}

.cobiro-logo-topbar {
  padding-left: 40px;
  padding-top: 0px;
  padding-right: 0px;
}

.morten-img {
  padding-left: 1146px;
  padding-right: 0px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.morten-text {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
}

.morten-dd {
  padding-left: 0px; 
  padding-right: 40px;
  border: 0.5px; 
  border-color: #0087EF;
}

//sidebar
.sidebar-cobiro { 
  position: fixed;
  margin-top: 65px;
  height: 100%;
  width: 240px;
  // border-right: 1px solid #EAEEF4;
}

.nice-deals {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  width: 160px; 
  height: 112px;
}

.hairstylist {
  color: #002D4F;
  margin-top: 10px;
  margin-left: 72px; 
  margin-right: 72px;
  width: 96px;
  height: 17px;
  font-size: 0.70rem;
  margin-bottom: 57px;
}

.nav-item-sidebar {
  color:#4C6C83;
  height: 50px;
  width: 240px;
  font-size: 0.70rem;
  font-weight: 600;
  width: 250px; 
  height: 50px;
}

.nav-sidebar {
  list-style-type: none;
}

.main-body-grey {
  padding-left: 240px;
  padding-top: 65px;
  background-color: #F4F9FC;
  color: #00124F;
  width: 1440px;
  height: 900px;
}

// generic
.border-radius-5 {
  border-radius: 5px;
}

.rem {
  font-size: 1rem;
  color: black;
  border: none;
  padding: none;
}

// To be used in the future

.blue-button {
  display: flex;
  background-color: #0087EF;
  color: #FFFFFF;
  border: none;
  padding: 0px;
  align-items: center;
  justify-content: center;
  text-decoration: none; 
  font-size: 14px;
  font-weight: 600;
  width: 117px;
  height: 40px;
  border-radius: 5px;
}

.item-box-null {
  background-color: #FFFFFF;
  border-radius: 5px; 
  border: 1px solid #E5E9ED; 
  justify-content: center;
  text-decoration: none;
  width: 1060px; 
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
}

.item-box-ch1 {
  background-color: #FFFFFF;
  border-radius: 5px; 
  border: 1px solid #E5E9ED; 
  justify-content: center;
  text-decoration: none;
  width: 1060px; 
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  padding-left: 20px;
}

.item-box-ch2 {
  background-color: #FFFFFF;
  border-radius: 5px; 
  border: 1px solid #E5E9ED; 
  justify-content: center;
  text-decoration: none;
  width: 1060px; 
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 70px;
  margin-right: 70px;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0;
  text-align: left;
  padding-left: 40px;
}

#item-text { 
  padding-left: 20px;
  padding-top: 16px; 
  padding-bottom: 24px;
}