<!DOCTYPE html>
<html lang="en"> 
<body> 
  <div class="navbar-cobiro fixed-top bg-white top-bar-cobiro"> 
    <img src="../../assets/logo.svg" alt="cobiro-logo" class="cobiro-logo-topbar dispaly:inline-block">
    <!-- <p class="font-weight-bold cobiro-logo-topbar">C O B I R O</p>
      ^^^ the above is an alternative to the logo in the SVG format provided in /assets ^^^-->
    <img src="../../assets/c4beea3c4cccbceb8de269c8cdf11f2e.png" alt="morten-image" class="morten-img dispaly:inline-block">
    <span class="morten-text dispaly:inline-block">Morten</span>
    <img src="../../assets/Path 6.svg" alt="dropdown" class="dispaly:inline-block">
    </div>

  <div class="container-fluid"> 
    <div class="row">
      <nav class="bg-white sidebar-cobiro">
        <img src="../../assets/nicebeauty.com_eu_.png" alt="nice-beauty" class="nice-deals">
      <div class="font-weight-bolder hairstylist">hairstylist.com</div>
      <ul class="nav-sidebar text-left">
        <li class="nav-item-sidebar">Marketing Plan</li>
        <li class="nav-item-sidebar">Dashboard</li>
        <li class="nav-item-sidebar">My Ads</li>
        <li class="nav-item-sidebar">Analytics</li>
        <li class="nav-item-sidebar">Cobiro Store</li>
        <li class="nav-item-sidebar"></li>
      </ul>
      </nav>
    </div>
  </div> 
  <div class="main-body-grey">

    <span class="border border-warning text-center font-weight-light">{{items$ | async | json}}</span>

    <br><br><br><br><br>

    <!-- <div class="blue-button">Button</div>
    <div class="item-box-null" id="item-text">Item</div> -->

    <div *ngFor=""></div>

    <div *ngIf="" class="item-box-null border border-success">{{levels$ | async | json}}</div>

    <div class="border border-danger font-weight-bold">{{levels$ | async | json}}</div>

  </div>





<br><br><br><br><br><br>



</body>
</html>

<!-- <p>adasdasdaiuw w uqiifhe iuei iq</p> -->
<!-- <div>REMREMREMREM</div>
<div>REMREMRasdassdasdads ad ads adawef wef wef w werg wergwerg wegr werg wergg werg werg wer werg wegr qee q3 wg e56h46j746jh w gwrg w erg5w5wr gwrrgtwg wg w4g w4 wh wh w5h wg qerg er qeerg qrg wgt w45y w hwrb df s bs a rga  EMREM</div>
<div>REMREMRasdassdasdads ad ads adawef wef wef w werg wergwerg wegr werg wergg werg werg wer werg wegr qee q3 wg e56h46j746jh w gwrg w erg5w5wr gwrrgtwg wg w4g w4 wh wh w5h wg qerg er qeerg qrg wgt w45y w hwrb df s bs a rga  EMREM</div>
<div>REMREMRasdassdasdads ad ads adawef wef wef w werg wergwerg wegr werg wergg werg werg wer werg wegr qee q3 wg e56h46j746jh w gwrg w erg5w5wr gwrrgtwg wg w4g w4 wh wh w5h wg qerg er qeerg qrg wgt w45y w hwrb df s bs a rga  EMREFAGREGBWEGRWG QVW  F F VAFE VAVEF AF A A GVE FCAV EF SEVSDVSDFV SDV SV SREGR SERG GER VS VSER G RGSg s gr trb srg s tr h tdht htrEM</div>
<div>REMREMasdsFSEBGRRGTBWRG WB RTB WT BW RTBWBSF SFB SFB SFB SB RBSRB S B REMREM</div>
<div>REMREMRasdassdasdads ad ads adawef wef wef w werg wergwerg wegr werg wergg werg werg wer werg wegr qee q3 wg e56h46j746jh w gwrg w erg5w5wr gwrrgtwg wg w4g w4 wh wh w5h wg qerg er qeerg qrg wgt w45y w hwrb df s bs a rga  EMREFAGREGBWEGRWG QVW  F F VAFE VAVEF AF A A GVE FCAV EF SEVSDVSDFV SDV SV SREGR SERG GER VS VSER G RGSg s gr trb srg s tr h tdht htrEM</div>
<div>REMREMasdsFSEBGRRGTBWRG WB RTB WT BW RTBWBSF SFB SFB SFB SB RBSRB S B REMREM</div> -->